* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.appContent {
  float: left;
  padding: 30px;
  width: 100%;
}

.search {
  margin-bottom: 30px;
}

.search input {
  width: 100%;
  padding: 10px;
  font-size: 30px;
  border-radius: 8px;
}
